*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style: none;

	font-family: 'Roboto', sans-serif;
}
html{
	overflow: hidden;
}
.conteiner{
	max-width: 1200px;
	margin: 0 auto;
}

header{

	display: flex;
	justify-content: space-between;
	margin:0 20px;
	padding: 15px 0;
	border-bottom: .5px solid rgba(115, 115, 115, 0.2);
}

.logo{
	font-weight: 700;
	color: #4EB799;
}

.nav{
	display: flex;
	align-items: center;
}
.nav ul{
	display: flex;
}
.nav ul li{
	color: #727981;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	margin-left: 30px;
	cursor: pointer;
	border-bottom: 0px solid rgba(115, 115, 115, 0.1);
	transition: all .5s ease; 
}
.nav ul li:hover{
	border-bottom: 1px solid rgba(115, 115, 115, 0.5);
	transition: all 1s ease; 
}

.burger{
	display: none;
	margin-top: 4px; 
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}
.burger span{
	position: absolute;
	top: 13px;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: rgba(115, 115, 115, 0.8);
}
.burger::before{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: rgba(115, 115, 115, 0.8);
}
.burger::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: rgba(115, 115, 115, 0.8);
}

.header_content{
	height: calc(100vh - 69px);
	margin: 0 20px;
	overflow: hidden;
	display: flex;
}


.info{
	/*margin: 20px;*/
	padding-top: 50px;
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
}
.info h2{
	padding-bottom: 20px;
	font-size: 45px;
	font-weight: 500;
	color: #727981;
	line-height: 50px;
	text-transform: uppercase;
}
.info p{
	font-size: 18px;
	color: #727981;
}

.slider{
	flex: 0 1 50%;
	position: relative;
}
.slider_bg{
	position: absolute;
	top: 30%;
}
.tabel{
	width: 100%;

}






@media(min-height: 1000px){
	.header_content{
		flex-direction: column;
	}
	.slider{
		display: flex;
		justify-content: center;
	}
	.slider_bg{
	top: 0;
	}
	
}


@media(max-width: 600px){
	
	body{
		overflow: hidden;
		position: relative;
	}
	.nav{
		/*display: none;*/
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-color: rgba(115, 115, 115, 0.95);
		transition: all 1s ease;
	}
	.nav.active{
		/*display: block;*/
		left: 0;

	}
	.nav ul{
		flex-direction: column;
		width: 100%;
	}
	.nav ul li{
		margin: 20px auto 0;
		color: #fff;
		font-size: 17px;
	}

	.burger{
		display: block;
		z-index: 100;
	}
	.burger.active{

	}


	.header_content{
		flex-direction: column;
	}
	
	.slider_bg{
	top: 0;
	}
}