*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style: none;
	/*color: #727981;*/
	font-family: 'Roboto', sans-serif;
}
html{
	/*overflow: hidden;*/
}
.conteiner{
	max-width: 1200px;
	margin: 0 auto;
}

.header_top{

	display: flex;
	justify-content: space-between;
	margin:0 20px;
	padding: 15px 0;
	border-bottom: .5px solid rgba(115, 115, 115, 0.2);
}

.logo{
	font-weight: 700;
	color: #4EB799;
	cursor: pointer;
}

.nav{
	display: flex;
	align-items: center;
}
.nav ul{
	display: flex;
}
.nav ul li{
	color: #727981;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	margin-left: 30px;
	cursor: pointer;
	border-bottom: 1px solid rgba(115, 115, 115, 0.0);
	transition: all .5s ease; 
}
.nav ul li:hover{
	border-bottom: 1px solid rgba(115, 115, 115, 0.5);
	transition: all 1s ease; 
}

.burger{
	display: none;
	margin-top: 4px; 
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}
.burger span{
	position: absolute;
	top: 13px;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: rgba(115, 115, 115, 0.8);
	transition: all .5s ease;
}
.burger::before{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: rgba(115, 115, 115, 0.8);
	transition: all 1s ease;
}
.burger::after{
	content: "";
	position: absolute;
	top: 26px;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: rgba(115, 115, 115, 0.8);
	transition: all 1s ease;
}
header{
	height: 100%;
	border-bottom: 1px solid rgba(115, 115, 115, 0.5);
	/*height: 100vh;*/
}
.header_bot{
	/*height: calc(100% - 69px);*/
	height: 100%;
}
.header_content{
	height: 100%;
	margin: 0 20px;
	overflow: hidden;
	display: flex;
}


.info{
	/*margin: 20px;*/
	padding-top: 80px;
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
}
.info h2{
	padding-bottom: 20px;
	font-size: 45px;
	font-weight: 500;
	color: #727981;
	line-height: 50px;
	text-transform: uppercase;
}
.info p{
	font-size: 18px;
	color: #727981;
}

.slider{
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	flex: 0 1 50%;
	/*position: relative;*/
	/*height: 100%;*/
}
.slider_bg{
	/*height: 100%;*/
	display: flex;
	text-align: center;
	/*transform: translateX(-100%);*/
	/*position: absolute;*/
	/*top: 20%;*/
	/*left: 20%;*/
	transition: all 1s ease;
}
.slide1{
	transform: translateX(0);
}
.slide2{
	transform: translateX(-100%);
}
.slide3{
	transform: translateX(-200%);
}
.slide4{
	transform: translateX(-300%);
}


.slider_bg img{
	padding: 10%;
	margin: 10%;
	width: 80%;
}
.tabel{
	width: 100%;

}





.content {
	margin-top: 50px;
}
.content h3{
	font-size: 17px;
	color: #727981;
}
.content p{
	font-size: 13px;
	color: #727981;
}


.img_conteiner{
	width: 100%;
}

.content img{
	width: 100%;
	padding: 30px;
	transition: all .5s ease;
	cursor: pointer;
}
.content img:hover{
	padding: 20px;
}
.content_row_full{
	display: flex;
}
.content_row {
	display: flex;
	flex: 1 0 50%;
}
.content_item {
    position: relative;
	flex: 1 0 50%; 
	padding: 10px 10px 40px 10px;
}

.button{
    position: absolute;
    bottom: 0;
    left: calc(50% - 48px);
	/*margin-top: 30px;*/
	text-align: center;
}
.button a{
	padding: 8px 30px;
	color: #fff;
	background-color: #4EB799;
}









@media(min-height: 1000px){
	.header_content{
		flex-direction: column;
	}
	.slider{
		display: flex;
		justify-content: center;
	}
	.slider_bg{
	top: 0;
	}
	
}


@media(min-width: 600px){
	
}


@media(max-width: 600px){
	
	body.hid{
		overflow: hidden;
		/*position: relative;*/
	}
	header{
		height: 100vh;
		position: relative;
		overflow: hidden;
		
	}
	.header_bot{
	height: calc(100% - 69px);
	}
	.nav{
		/*display: none;*/
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-color: rgba(115, 115, 115, 0.8);
		transition: all 1s ease;
	}
	.nav ul li:hover{
		border-bottom: none;
	}
	.nav.active{
		position: fixed;
		max-height: 100vh;
		overflow: hidden;
		top: 0;
		left: 0;
		scro

	}
	.nav ul{
		flex-direction: column;
		width: 100%;
	}
	.nav ul li{
		margin: 20px auto 0;
		color: #fff;
		font-size: 17px;
	}

	.burger{
		display: block;
		z-index: 100;
	}
	.burger.active span{
		opacity: 0;
	}
	.burger.active::before{
		background-color: #4EB799;
		transform: rotate(45deg);
		top: 13px;
	}
	.burger.active::after{
		background-color: #4EB799;
		transform: rotate(-45deg); 
		top: 13px;
	}

	.info{
	padding-top: 30px;
	}

	.content{
		margin-top: 0;
	}

	.header_content{
		flex-direction: column;
	}

	.content img{
		padding: 10px;
	}
	
	.slider_bg{
	top: 0;
	}




	.content_row_full{
	display: flex;
	flex-direction: column;
	}
	.content_row {
		display: flex;
		flex: 0 0 50%;
	}

}
