*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style: none;
}
.conteiner{
	max-width: 1200px;
	margin: 0 auto;
}

header{
	display: flex;
	justify-content: space-between;
	margin: 20px;
	border-bottom: .5px solid rgba(115, 115, 115, 0.1);
}

.logo{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: rgba(115, 115, 115, 0.8);
}

.nav ul{
	display: flex;
}
.nav ul li{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 0px solid rgba(115, 115, 115, 0.1);
	transition: all .5s ease; 
}
.nav ul li:hover{
	border-bottom: 1px solid rgba(115, 115, 115, 0.5);
	transition: all 1s ease; 
}

.burger{
	display: none;
}

@media(max-width: 600px){
	
	.nav{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-color: rgba(115, 115, 115, 0.95);
	}
	.nav ul{
		flex-direction: column;
	}
	.nav ul li{
		margin: 20px auto 0;
		color: #fff;
		font-size: 17px;
	}

	.burger{
		display: block;
		z-index: 100;
	}
}